.Card{
    border: 8px;
    border-radius: 14px;
    border-style:solid;
    border-color: black;
    background-color: color-mix(in srgb, white 25%, blue 75%);
    width: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 50px;
    text-align: center;
    color: black;
    float: left;
    position:absolute;
    transition-duration: .5s;
    animation-duration: 1s;
    }

.Card:hover{
    background-color: blue;
    background-origin: border-box;
    cursor: pointer;
    transform: translate(5px,-20%);
    z-index: 2;
}

.Card.active{
    background-color: blue;
    background-origin: border-box;
    cursor: pointer;
    transform: translate(5px,-20%);
    z-index: 2;
}

.Card.active:hover{
    background-color: red;
    background-origin: border-box;
    cursor: grab;
    transform: translate(5px,-20%);
    z-index: 2;
}

.Card.currentlyPlayed{
    margin-left: 0px;
    transition: 1s;
}
.Card.played{
    transform: translateY(10px);
    margin-left: 0px;
}

#Hand{
    transform: translate(500px,600px);
}

#Pile{
    transform: translate(700px,300px);
}

#StartButton{

}

#NextLevelButton{

}

#EndButton{

}

#PlayButton{

}